<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="name" default="robot" />

    <!-- end-effector link -->
    <node pkg="tf" type="static_transform_publisher" name="fake_tcp_publisher" 
    args="0.18 0.0 0.0 0.0 0.0 0.0 ur5/ee_link object_link 100"/>

    <!-- UR5 gazebo -->
    <include file="$(find arm_gazebo)/launch/ur_gripper_gazebo.launch"/>

    <!-- UR5 connection -->
    <include file="$(find arm_operation)/launch/ur5_sim.launch">
            <arg name="tool_length" default="0.18"/>
            <arg name="only_ur5" default="True"/>
    </include>

    <!-- UR5 endeffector control -->
    <node pkg="ur5_bringup" type="ur5_control.py" name="ur5_control_node" output="screen">
        <param name="name" value="$(arg name)"/>
    </node>

</launch>